<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freesoft.mapper.MovieTreeMapper">

    <select id="listAllMenu" resultType="com.freesoft.model.MovieTreeDO">
        select id, type_name, type_sign, parent_id
        from movie_tree
    </select>
</mapper>