<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freesoft.mapper.MovieInformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.freesoft.model.MovieInformationDO">
        <id column="mid" property="mid" />
        <result column="mname" property="mname" />
        <result column="price" property="price" />
        <result column="date" property="date" />
        <result column="movie_cid" property="movieCid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        mid, mname, price, date, movie_cid
    </sql>

</mapper>
